Repository grafana/k8s-monitoring-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @petewall, @grafana/k8s-monitoring-dev, @rlankfo, @simonswine

.github/CODEOWNERS:

# This file is used to define the owners of the code in this repository.
# https://help.github.com/articles/about-codeowners/

# Global owners
*                                           @petewall

# Chart owners
charts/feature-annotation-autodiscovery     @grafana/k8s-monitoring-dev
charts/feature-application-observability    @rlankfo
charts/feature-cluster-events               @grafana/k8s-monitoring-dev
charts/feature-cluster-metrics              @grafana/k8s-monitoring-dev
charts/feature-frontend-observability       @rlankfo
charts/feature-pod-logs                     @grafana/k8s-monitoring-dev
charts/feature-profiling                    @simonswine
charts/feature-prometheus-operator-objects  @grafana/k8s-monitoring-dev
charts/k8s-monitoring-v1                    @grafana/k8s-monitoring-dev

Update generated files
  charts/k8s-monitoring-test/README.md
  charts/k8s-monitoring-test/values.schema.json
Owners: @petewall

legacy test should only work on the the v1 chart
  .github/workflows/helm-test.yml
Owners: @petewall

Add ct to the github action
  .github/workflows/test-charts.yml
Owners: @petewall

Include chart v2 in the chart test workflow
  .github/workflows/test-charts.yml
Owners: @petewall

Add clean target
  charts/k8s-monitoring/Makefile
  charts/k8s-monitoring/charts/k8s-monitoring-feature-annotation-autodiscovery-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-application-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-events-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-metrics-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-frontend-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-integrations-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-pod-logs-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-profiling-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-prometheus-operator-objects-1.0.0.tgz
Owners: @petewall

ct lint in every chart
  .configs/lintconf.yaml
  .github/workflows/helm-test.yml
  Makefile
  charts/feature-annotation-autodiscovery/Makefile
  charts/feature-application-observability/Makefile
  charts/feature-cluster-events/Makefile
  charts/feature-cluster-metrics/Makefile
  charts/feature-frontend-observability/Makefile
  charts/feature-integrations/Makefile
  charts/feature-pod-logs/Makefile
  charts/feature-profiling/Makefile
  charts/feature-prometheus-operator-objects/Makefile
  charts/k8s-monitoring/Makefile
  charts/k8s-monitoring/charts/k8s-monitoring-feature-annotation-autodiscovery-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-application-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-events-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-metrics-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-frontend-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-integrations-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-pod-logs-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-profiling-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-prometheus-operator-objects-1.0.0.tgz
  scripts/lint-alloy.sh
Owners: @petewall, @grafana/k8s-monitoring-dev, @rlankfo, @simonswine

inline the helm repo
  charts/k8s-monitoring/tests/integration/cluster-events/test-manifest.yaml
  charts/k8s-monitoring/tests/integration/cluster-monitoring/test-manifest.yaml
  scripts/integration-test.sh
Owners: @petewall

Add file to make helm unittest work
  charts/k8s-monitoring/tests/__snapshot__/.gitkeep
Owners: @petewall

add ct configs for charts that use dependenties
  charts/feature-cluster-metrics/.ct.yaml
  charts/feature-cluster-metrics/Makefile
  charts/feature-prometheus-operator-objects/.ct.yaml
  charts/feature-prometheus-operator-objects/Makefile
  charts/k8s-monitoring/Makefile
  charts/k8s-monitoring/ct.yaml
Owners: @grafana/k8s-monitoring-dev, @petewall

Make lint-md do more and catch more changes
  charts/k8s-monitoring-v1/README.md
  charts/k8s-monitoring-v1/README.md.gotmpl
  charts/k8s-monitoring-v1/docs/examples/azure-aks/README.md
  charts/k8s-monitoring-v1/docs/examples/beyla/README.md
  charts/k8s-monitoring-v1/docs/examples/environment-variables/README.md
  charts/k8s-monitoring-v1/docs/examples/external-secrets/README.md
  charts/k8s-monitoring/Chart.yaml
  charts/k8s-monitoring/README.md
  charts/k8s-monitoring/README.md.gotmpl
  charts/k8s-monitoring/charts/k8s-monitoring-feature-annotation-autodiscovery-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-application-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-events-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-metrics-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-frontend-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-integrations-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-pod-logs-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-profiling-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-prometheus-operator-objects-1.0.0.tgz
  charts/k8s-monitoring/docs/destinations/README.md
  charts/k8s-monitoring/values.yaml
  scripts/lint-markdown.sh
Owners: @grafana/k8s-monitoring-dev, @petewall

Remove ec lint, which we don't really need and also fix some lint issues
  .github/workflows/reviewdog.yml
  Makefile
  charts/feature-cluster-metrics/README.md
  charts/feature-cluster-metrics/README.md.gotmpl
  charts/k8s-monitoring/Makefile
  charts/k8s-monitoring/charts/k8s-monitoring-feature-annotation-autodiscovery-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-application-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-events-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-metrics-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-frontend-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-integrations-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-pod-logs-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-profiling-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-prometheus-operator-objects-1.0.0.tgz
  package.json
  scripts/lint-editorconfig.sh
  yarn.lock
Owners: @petewall, @grafana/k8s-monitoring-dev

Fix integration test script and don't check chart bundles for modifications for now
  .github/workflows/unit-test.yml
  charts/k8s-monitoring/charts/k8s-monitoring-feature-annotation-autodiscovery-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-application-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-events-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-metrics-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-frontend-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-integrations-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-pod-logs-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-profiling-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-prometheus-operator-objects-1.0.0.tgz
  scripts/integration-test.sh
Owners: @petewall

Gotta get that chart dir
  .github/workflows/helm-test.yml
Owners: @petewall

Update integration test scripts to work this time
  charts/k8s-monitoring/tests/integration/cluster-monitoring/test-manifest.yaml
  scripts/integration-test.sh
Owners: @petewall

Move function up
  scripts/integration-test.sh
Owners: @petewall

Use the pre-existing cluster
  scripts/integration-test.sh
Owners: @petewall

More prerequisites before deploying prometheus
  .configs/certificates.yaml
  charts/k8s-monitoring/tests/integration/cluster-monitoring/test-manifest.yaml
  scripts/integration-test.sh
Owners: @petewall

Fix v1 test and output helm commands in new integration tests
  .github/workflows/helm-test.yml
  scripts/integration-test.sh
Owners: @petewall

further work on the test chart
  charts/k8s-monitoring-test/README.md
  charts/k8s-monitoring-test/templates/tests/test-pod.yaml
  charts/k8s-monitoring-test/tests/single_test.yaml
  charts/k8s-monitoring-test/tests/two_test.yaml
  charts/k8s-monitoring-test/values.schema.json
  charts/k8s-monitoring-test/values.yaml
  charts/k8s-monitoring/charts/k8s-monitoring-feature-annotation-autodiscovery-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-application-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-events-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-cluster-metrics-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-frontend-observability-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-integrations-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-pod-logs-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-profiling-1.0.0.tgz
  charts/k8s-monitoring/charts/k8s-monitoring-feature-prometheus-operator-objects-1.0.0.tgz
  charts/k8s-monitoring/tests/integration/cluster-monitoring/test-values.yaml
  charts/k8s-monitoring/tests/integration/cluster-monitoring/values.yaml
Owners: @petewall

Need alloy for some unittests
  .github/workflows/unit-test.yml
Owners: @petewall
