Repository grafana/k8s-monitoring-helm, pull requests merged in 2025-02, with the labels that each got.

#1206 add application-observability platform test
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/.envrc
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/.gitignore
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/.rendered/output.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/Makefile
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/README.md
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/deployments/otel-demo-manifest.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/deployments/query-test.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/values.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/k8s-monitoring/.envrc
  charts/k8s-monitoring/tests/platform/grafana-cloud/k8s-monitoring/.gitignore
  charts/k8s-monitoring/tests/platform/grafana-cloud/k8s-monitoring/.rendered/output.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/k8s-monitoring/Makefile
  charts/k8s-monitoring/tests/platform/grafana-cloud/k8s-monitoring/deployments/query-test.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/k8s-monitoring/values.yaml
Labels: platform-test-grafana-cloud/app-observability

#1245 Add the ability to set filters on otlp destinations
  charts/k8s-monitoring/destinations/otlp-values.yaml
  charts/k8s-monitoring/docs/destinations/otlp.md
  charts/k8s-monitoring/schema-mods/definitions/otlp-destination.schema.json
  charts/k8s-monitoring/templates/destinations/_destination_otlp.tpl
  charts/k8s-monitoring/tests/integration/split-destinations/.rendered/output.yaml
  charts/k8s-monitoring/tests/integration/split-destinations/deployments/grafana.yaml
  charts/k8s-monitoring/tests/integration/split-destinations/deployments/query-test.yaml
  charts/k8s-monitoring/tests/integration/split-destinations/deployments/tempo.yaml
  charts/k8s-monitoring/tests/integration/split-destinations/values.yaml
  charts/k8s-monitoring/tests/platform/openshift/values.yaml
  charts/k8s-monitoring/values.schema.json
Labels: enhancement

#1246 set resource attributes on otlp destination telemetry
  charts/k8s-monitoring/docs/examples/auth/bearer-token/alloy-receiver.alloy
  charts/k8s-monitoring/docs/examples/auth/bearer-token/output.yaml
  charts/k8s-monitoring/docs/examples/auth/embedded-secrets/alloy-receiver.alloy
  charts/k8s-monitoring/docs/examples/auth/embedded-secrets/output.yaml
  charts/k8s-monitoring/docs/examples/auth/external-secrets/alloy-receiver.alloy
  charts/k8s-monitoring/docs/examples/auth/external-secrets/output.yaml
  charts/k8s-monitoring/docs/examples/auth/oauth2/alloy-logs.alloy
  charts/k8s-monitoring/docs/examples/auth/oauth2/alloy-metrics.alloy
  charts/k8s-monitoring/docs/examples/auth/oauth2/alloy-singleton.alloy
  charts/k8s-monitoring/docs/examples/auth/oauth2/output.yaml
  charts/k8s-monitoring/docs/examples/destinations/otlp-endpoint/alloy-logs.alloy
  charts/k8s-monitoring/docs/examples/destinations/otlp-endpoint/alloy-metrics.alloy
  charts/k8s-monitoring/docs/examples/destinations/otlp-endpoint/output.yaml
  charts/k8s-monitoring/docs/examples/features/application-observability/default/alloy-receiver.alloy
  charts/k8s-monitoring/docs/examples/features/application-observability/default/output.yaml
  charts/k8s-monitoring/docs/examples/features/auto-instrumentation/beyla-metrics-and-traces/alloy-metrics.alloy
  charts/k8s-monitoring/docs/examples/features/auto-instrumentation/beyla-metrics-and-traces/alloy-receiver.alloy
  charts/k8s-monitoring/docs/examples/features/auto-instrumentation/beyla-metrics-and-traces/output.yaml
  charts/k8s-monitoring/docs/examples/meta-monitoring/alloy-receiver.alloy
  charts/k8s-monitoring/docs/examples/meta-monitoring/alloy-singleton.alloy
  charts/k8s-monitoring/docs/examples/meta-monitoring/output.yaml
  charts/k8s-monitoring/docs/examples/pod-labels-and-annotations/alloy-receiver.alloy
  charts/k8s-monitoring/docs/examples/pod-labels-and-annotations/output.yaml
  charts/k8s-monitoring/docs/examples/proxies/alloy-receiver.alloy
  charts/k8s-monitoring/docs/examples/proxies/output.yaml
  charts/k8s-monitoring/templates/destinations/_destination_otlp.tpl
  charts/k8s-monitoring/tests/integration/auth/.rendered/output.yaml
  charts/k8s-monitoring/tests/integration/auth/deployments/passwords.yaml
  charts/k8s-monitoring/tests/integration/auth/deployments/prometheus.yaml
  charts/k8s-monitoring/tests/integration/auto-instrumentation/.rendered/output.yaml
  charts/k8s-monitoring/tests/integration/split-destinations/.rendered/output.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/.rendered/output.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/deployments/otel-demo-manifest.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/deployments/query-test.yaml
  charts/k8s-monitoring/tests/platform/grafana-cloud/app-observability/values.yaml
  charts/k8s-monitoring/tests/platform/otlp-gateway/.rendered/output.yaml
  charts/k8s-monitoring/tests/platform/otlp-gateway/deployments/query-test.yaml
  charts/k8s-monitoring/tests/platform/otlp-gateway/values.yaml
Labels: platform-test-otlp-gateway, platform-test-grafana-cloud/app-observability

#1260 Re-enable kubelet, kubelet resource, and cadvisor metrics for gke autopilot
  charts/k8s-monitoring/tests/platform/gke-autopilot/.rendered/output.yaml
  charts/k8s-monitoring/tests/platform/gke-autopilot/deployments/query-test.yaml
  charts/k8s-monitoring/tests/platform/gke-autopilot/values.yaml
Labels: platform-test-gke-autopilot

#1273 Update based on the config recommendations in the k8s-monitoring config page
  charts/k8s-monitoring/docs/examples/remote-config/README.md
  charts/k8s-monitoring/docs/examples/remote-config/output.yaml
  charts/k8s-monitoring/docs/examples/remote-config/values.yaml
  charts/k8s-monitoring/tests/platform/remote-config/.rendered/output.yaml
  charts/k8s-monitoring/tests/platform/remote-config/deployments/query-test.yaml
  charts/k8s-monitoring/tests/platform/remote-config/values.yaml
Labels: platform-test-remote-config

#1280 Remove stabiilty level requirements for live debugging or remotecfg
  charts/k8s-monitoring-v1/ci/ci-values.yaml
  charts/k8s-monitoring-v1/templates/_config_validations.tpl
  charts/k8s-monitoring/README.md
  charts/k8s-monitoring/docs/examples/remote-config/README.md
  charts/k8s-monitoring/docs/examples/remote-config/output.yaml
  charts/k8s-monitoring/docs/examples/remote-config/values.yaml
  charts/k8s-monitoring/templates/collectors/_collector_remoteConfig.tpl
  charts/k8s-monitoring/templates/collectors/_collector_validations.tpl
  charts/k8s-monitoring/templates/validations.yaml
  charts/k8s-monitoring/tests/integration/auto-instrumentation/.rendered/output.yaml
  charts/k8s-monitoring/tests/integration/auto-instrumentation/values.yaml
  charts/k8s-monitoring/tests/platform/remote-config/.rendered/output.yaml
  charts/k8s-monitoring/tests/platform/remote-config/values.yaml
  charts/k8s-monitoring/values.yaml
Labels: platform-test-remote-config
